<!-- views/partials/header-admin.ejs -->
<!DOCTYPE html>
<html class="dark" data-bs-theme="dark"
      prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
              odrs: http://schema.theodi.org/odrs#">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= pageTitle %></title>

<script type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/lib/underscore.js"></script>
<script type="text/javascript" src="/lib/jquery-ui.js"></script>
<script type="text/javascript" src="/lib/jsv.js"></script>
<script type="text/javascript" src="/lib/jsonform.js"></script>

<link href="/css/water.css" rel="stylesheet">
<link href="/css/glyphicon.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<link rel="shortcut icon" href="/images/odifavicon32.ico">

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const instanceSelect = document.getElementById('instanceSelect');
        const currentPath = window.location.pathname;
        const activeinstanceId = '<%= typeof activeInstance !== 'undefined' && activeInstance ? activeInstance._id : "" %>';

        // Add default option
        const defaultOption = document.createElement('option');
        defaultOption.value = "";
        defaultOption.text = "Select instance";
        instanceSelect.appendChild(defaultOption);

        // Fetch the user's RAG instances and populate the select dropdown
        fetch('/instances', {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(instance => {
                const option = document.createElement('option');
                option.value = instance._id;
                option.text = instance.name;
                if (instance._id === activeinstanceId) {
                    option.selected = true;
                }
                instanceSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching RAG instances:', error));
    });

    function switchInstance() {
        const instanceSelect = document.getElementById('instanceSelect');
        const selectedinstanceId = instanceSelect.value;
        if (selectedinstanceId) {
            const currentPath = window.location.pathname.split('/').slice(3).join('/'); // Get the current path without the instanceId
            window.location.href = `/instances/${selectedinstanceId}/${currentPath}`;
        }
    }
</script>

</head>
<body>
    <div class="topper">
        <div class="icon"></div>
        <div class="name"><%= pageTitle %></div>
    </div>
    <main>
        <sidebar style="height: calc(100vh - 180px); position: relative;">
            <nav>
              <h2 style="margin-top: 0;">Main menu</h2>
              <ul class="admin-menu">
                <li><a href="/instances/">View instances</a></li>
                </ul>
              <h3>Active Instance:</h3>
              <select id="instanceSelect" onchange="switchInstance()">
                  <!-- Populate this select with the user's RAG instances -->
              </select>
              <% if (typeof activeInstance !== 'undefined' && activeInstance) { %>
                <h3>Conversations</h3>
                <ul class="admin-menu">
                    <li><a href="/instances/<%= activeInstance._id %>/conversations">My conversations</a></li>
                </ul>
                <h3>Sources</h3>
                <ul class="admin-menu">
                    <li><a href="/instances/<%= activeInstance._id %>/sources">View/Manage sources</a></li>
                    <li><a href="/instances/<%= activeInstance._id %>/sources/add">Add new source</a></li>
                    <li><a href="/instances/<%= activeInstance._id %>/sources/import">Bulk import</a></li>
                </ul>
                <h3>Ratings</h3>
                <ul class="admin-menu">
                    <li><a href="/instances/<%= activeInstance._id %>/ratings">View ratings</a></li>
                    <li><a href="/instances/<%= activeInstance._id %>/ratings/choices">Rating choices</a></li>
                </ul>
              <% } %>
            </nav>
            <nav style="position: absolute; bottom: 0px;">
              <ul>
                <li style="display: inline-block;">
                    <form style="display: inline-flex;" id="logout_form" action="/logout" method="post">
                        <a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout</a>
                    </form>
                </li>
                <li style="display: inline-block; padding-left: 1em; border-left: 1px solid white; margin-left: 1em;">
                    <a href="/instances">Admin</a>
                </li>
              </ul>
            </nav>
          </sidebar>
          <div class="container">