<sidebar>
    <nav>
      <h3>Active Instance:</h3>
      <select id="instanceSelect" onchange="switchInstance()">
          <!-- Populate this select with the user's RAG instances -->
      </select>
      <% if (typeof activeInstance !== 'undefined' && activeInstance) { %>
        <h3>Conversations</h3>
        <ul class="admin-menu">
            <li><a href="/instances/<%= activeInstance._id %>/conversations">My conversations</a></li>
        </ul>
        <h3>Sources</h3>
        <ul class="admin-menu">
            <li><a href="/instances/<%= activeInstance._id %>/sources">View/Manage sources</a></li>
            <li><a href="/instances/<%= activeInstance._id %>/sources/add">Add new source</a></li>
            <li><a href="/instances/<%= activeInstance._id %>/sources/import">Bulk import</a></li>
        </ul>
        <h3>Ratings</h3>
        <ul class="admin-menu">
            <li><a href="/instances/<%= activeInstance._id %>/ratingsReport">Ratings report</a></li>
        </ul>
      <% } %>
    </nav>
</sidebar>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const instanceSelect = document.getElementById('instanceSelect');
        const currentPath = window.location.pathname;
        const activeinstanceId = '<%= typeof activeInstance !== 'undefined' && activeInstance ? activeInstance._id : "" %>';

        // Add default option
        const defaultOption = document.createElement('option');
        defaultOption.value = "";
        defaultOption.text = "Select instance";
        instanceSelect.appendChild(defaultOption);

        // Fetch the user's RAG instances and populate the select dropdown
        fetch('/instances', {
            headers: {
                'Accept': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            data.forEach(instance => {
                const option = document.createElement('option');
                option.value = instance._id;
                option.text = instance.name;
                if (instance._id === activeinstanceId) {
                    option.selected = true;
                }
                instanceSelect.appendChild(option);
            });
        })
        .catch(error => console.error('Error fetching RAG instances:', error));
    });

    function switchInstance() {
        const instanceSelect = document.getElementById('instanceSelect');
        const selectedinstanceId = instanceSelect.value;
        if (selectedinstanceId) {
            const currentPath = window.location.pathname.split('/').slice(3).join('/'); // Get the current path without the instanceId
            window.location.href = `/instances/${selectedinstanceId}/${currentPath}`;
        }
    }
</script>