<%- include('../../partials/header') %>
<style>
    .longText {
        min-width: 80%;
    }
    .submit {
        margin-top: 2em;
    }
</style>
<div class="padded">
<h1><%= pageTitle %></h1>
<br/>
<div id="res" class="alert"></div>
<br/>
<form id="csvUploadForm" enctype="multipart/form-data">
    <input type="file" id="csvFile" name="csvFile" accept=".csv" required />
    <br/>
    <button type="button" onclick="uploadCSV()">Upload CSV</button>
</form>
<br/>
<div id="csvTable" style="display:none;">
    <h2>CSV Content</h2>
    <table id="sourceTable" border="1">
        <thead>
            <tr>
                <th><input type="checkbox" id="selectAll" /></th>
                <th>Title</th>
                <th>Source</th>
                <th>Type</th>
                <th>overrideUrl</th>
                <th>Import Status</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <br/>
    <button type="button" class="submit" onclick="addSelectedSources()">Add Selected Sources</button>
    <br/>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
<script>
document.getElementById("selectAll").addEventListener("click", function() {
    let checkboxes = document.querySelectorAll("#sourceTable tbody input[type='checkbox']");
    checkboxes.forEach(checkbox => checkbox.checked = this.checked);
});

let existingSources = {};

// Fetch existing sources
fetch('<%= "/instances/" + instanceId + "/sources" %>')
    .then(response => response.json())
    .then(data => {
        data.loaders.forEach(source => {
            const url = source.overrideUrl ? source.overrideUrl : source.source;
            existingSources[url] = source.loadedDate;
        });
    })
    .catch(error => {
        console.error('Error fetching existing sources:', error);
    });

function uploadCSV() {
    let fileInput = document.getElementById('csvFile');
    let file = fileInput.files[0];
    if (file) {
        Papa.parse(file, {
            header: true,
            complete: function(results) {
                parseCSV(results.data);
            },
            error: function(error) {
                alert('Error parsing CSV file: ' + error.message);
            }
        });
    } else {
        alert('Please select a CSV file to upload.');
    }
}

function parseCSV(data) {
    let table = document.getElementById('sourceTable').getElementsByTagName('tbody')[0];
    table.innerHTML = '';
    data.forEach(row => {
        if (row.title && row.source) {
            let newRow = table.insertRow();
            let importedStatus = existingSources[row.source] ? `Imported ${new Date(existingSources[row.source]).toLocaleString()}` : '';
            newRow.innerHTML = `
                <td>${existingSources[row.source] ? '' : '<input type="checkbox" />'}</td>
                <td>${row.title}</td>
                <td>${row.source}</td>
                <td>${row.type}</td>
                <td>${row.overrideUrl}</td>
                <td class="import-status">${importedStatus}</td>
            `;
        }
    });
    document.getElementById('csvTable').style.display = 'block';
}

function addSelectedSources() {
    let rows = document.querySelectorAll("#sourceTable tbody tr");
    rows.forEach(row => {
        let checkbox = row.querySelector('input[type="checkbox"]');
        if (checkbox && checkbox.checked) {
            let title = row.cells[1].textContent;
            let source = row.cells[2].textContent;
            let type = row.cells[3].textContent;
            let overrideUrl = row.cells[4].textContent;
            let statusCell = row.cells[5];
            let postUrl = '<%= "/instances/" + instanceId + "/sources" %>';
            let inputObject = { title, source };
            if (type !== 'undefined') {
                inputObject = { title, source, type };
            }
            if (overrideUrl !== 'undefined') {
                inputObject = { title, source, type, overrideUrl };
            }
            fetch(postUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(inputObject)
            })
            .then(response => response.json())
            .then(data => {
                let status = data.uniqueId ? `Success: ${data.uniqueId}` : `Error: ${data.error}`;
                statusCell.textContent = status;
            })
            .catch(error => {
                statusCell.textContent = `Error: ${error.message}`;
            });
        }
    });
}
</script>
<%- include('../../partials/footer') %>