<!-- views/profile.ejs -->
<%- include('../partials/header-admin') %>
    <h1>Profile Information</h1>
      <p>
        <strong>Id</strong>: <%= user.id %><br>
        <strong>Email</strong>: <%= user.email %><br>
        <strong>Name</strong>: <%= user.name %><br>
        <strong>Is Admin</strong>: <%= user.isAdmin %><br>
        <strong>Last Login</strong>: <%= user.lastLoginFormatted %>
      </p>
</div>
<%- include('../partials/footer-admin') %>