<!-- views/profile.ejs -->
<%- include('../partials/header') %>
<sidebar style="height: calc(100vh - 180px); position: relative;">
  <nav>
    <ul>
        <li>Manage feedback categories</li>
    </ul>
  </nav>
  <nav style="position: absolute; bottom: 0px;">
    <ul>
      <li>
              <form style="display: inline-flex;" id="logout_form" action="/logout" method="post">
                  <a href="javascript:;" onclick="document.getElementById('logout_form').submit();">Logout</a>
              </form>
          </li>
    </ul>
  </nav>
</sidebar>
<div class="container">
    <h1>Profile Information</h1>
      <p>
        <strong>Id</strong>: <%= user.id %><br>
        <strong>Email</strong>: <%= user.email %><br>
        <strong>Name</strong>: <%= user.name %><br>
        <strong>Is Admin</strong>: <%= user.isAdmin %><br>
        <strong>Last Login</strong>: <%= user.lastLoginFormatted %>
      </p>
</div>
<%- include('../partials/footer') %>