<%- include('../partials/header') %>
<main>
<script src="/js/chat.js"></script>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%- include('../partials/conversations-sidebar') %>

    <form class="aichat" onsubmit="handleSubmit(event)">
        <div class="chat-container">
            <%- include('../partials/conversation', { conversation: conversation }) %>
            <div class="bottom">
                <div id="input">
                    <input type="hidden" id="conversationId" value="<%- conversation.id %>"></input>
                    <select id="chunkStrategy" name="select">
                        <option value="default">default</option>
                        <option value="top_k_chunks">top_k_chunks</option>
                        <option value="top_k_n_chunks">top_k_n_chunks</option>
                        <option value="top_k_chunks_per_source">top_k_chunks_per_source</option>
                        <option value="weighted_relevance">weighted_relevance</option>
                        <option value="topic_classification">topic_classification</option>
                        <option value="llm_summarization">llm_summarization</option>
                    </select>
                    <textarea id="txt" placeholder="Send a message" name="msg" rows="1"></textarea>
                    <button type="submit" class="uil uil-message"></button>
                    <p> | </p>
                    <button type="button"  id="contact-tutor" class="uil uil-envelope-alt email"></button>
                </div>
            </div>
        </div>
    </form>
</main>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            loadConversation('<%= conversation.id %>');

            const textarea = document.getElementById('txt');
            const form = document.querySelector('.aichat');
            const contactTutorButton = document.getElementById('contact-tutor'); 
            const select = document.getElementById('chunkStrategy'); // chunk strategy select element

            textarea.addEventListener('input', function() {
                this.style.height = 'auto'; // Reset the height
                this.style.height = this.scrollHeight + 'px'; // Set the height based on the scroll height

                // Ensure the height does not exceed the max height
                if (this.scrollHeight > 150) {
                    this.style.overflowY = 'scroll';
                } else {
                    this.style.overflowY = 'hidden';
                }
            });

            textarea.addEventListener('keydown', function(event) {
                if (event.key === 'Enter' && !event.shiftKey) {
                    event.preventDefault(); // Prevent default enter behavior
                    handleSubmit(event); // Explicitly call handleSubmit function
                }
            });

            form.addEventListener('submit', handleSubmit); // Ensure the form calls handleSubmit on submit

            contactTutorButton.addEventListener('click', function() {
                contactTutor(form); // Call contactTutor when the button is clicked
            });
        });
    </script>
<%- include('../partials/footer') %>