<%- include('../partials/header') %>
<script src="/js/chat.js"></script>
<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<%- include('../partials/conversations-sidebar') %>

<form class="aichat" onsubmit="handleSubmit(event)">
    <%- include('../partials/conversation', { conversation: conversation }) %>
    <div class="bottom">
        <div id="input">
            <input type="hidden" id="conversationId" value="<%- conversation.id %>"></input>
            <textarea id="txt" placeholder="Send a message" name="msg" rows="2"></textarea>
            <button type="submit" class="uil uil-message"></button>
        </div>
    </div>
</form>
<%- include('../partials/footer') %>