<!-- views/profile.ejs -->
<%- include('../partials/header') %>
<sidebar>
</sidebar>
<div class="container">
    <h1>Profile Information</h1>
      <p>
        <strong>Id</strong>: <%= user.id %><br>
        <strong>Email</strong>: <%= user.email %><br>
        <strong>Name</strong>: <%= user.name %><br>
        <strong>Last Login</strong>: <%= user.lastLoginFormatted %><br><br>
        <strong>Remaining tokens</strong>: <%= user.tokens %>
      </p>
    <h2>How to earn more tokens?</h2>
</div>
<%- include('../partials/footer') %>